header {
    background-color: #90baad;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'ayuthaya';
}

.intro {
    margin: 50px;
    padding: 150px
}



.sub-heading {
    font-family: 'bradley hand';
    font-size: 25px;
    text-align: center;

}

.thick-peach-border {
    border-radius: 50%;
    border-color: peachpuff;
    border-width: 10px;
    border-style: solid;

}


body {
    font-family: 'avenir', sans-serif;
}

h1 {
    font-family: 'ayuthaya';
    font-size: 30px;
}

p {
    font-size: 18px;

}



h2 {
    border: solid peachpuff 3px;
    text-align: center;
    max-width: 70%;
    padding: 10px;
    font-family: 'ayuthaya';
    font-size: 20px;
    border-radius: 50%;
}






footer {
    background-color: #CBF6E9;
}

.centered {
    text-align: center;
}

.intro {
    max-width: 500px;
    text-align: left;
}