header {
    background-color: #90baad;
    color: white;

}

.intro {
    display: flex;
    align-items: center;
    /* vertically center text with image */
    justify-content: flex-start;
    /* keep everything starting from left */
    gap: 80px;
    /* space between image and text */
    padding: 30px;
    margin-left: 100px;
}

.main-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'avenir light', sans-serif;
    background-color: white;
    padding: 0px 30px 15px 40px;



}

.navLi {

    border-radius: 25px;

    padding: 30px;
    margin-top: 10px;
    background-color: #90baad;

}


.main-nav li {
    padding: 15px;
}

.main-nav a {
    text-decoration: none;
    color: white;

}

.sub-heading {
    font-family: 'bradley hand';
    font-size: 25px;
    text-align: center;

}

.thick-peach-border {
    border-radius: 50%;
    border-color: peachpuff;
    border-width: 10px;
    border-style: solid;
}

.site-heading {
    font-family: 'bradley hand';
    font-size: 40px;
    text-align: center;
}

/* .intro h1 {

  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* h1 {
    font-family: 'ayuthaya' serif;
    font-size: 40px;
} */

main {
    font-family: 'avenir light';

    p {
        font-size: 18px;
        font-family: 'avenir light' sans-serif;

    }



    h2 {
        border: solid peachpuff 3px;
        text-align: center;
        max-width: 70%;
        padding: 10px;
        border-radius: 50%;
        font-family: 'avenir light' sans-serif;
        font-size: 20px;
    }

    ul {
        font-family: 'avenir light';
    }

    li {
        font-family: 'avenir';
        font-size: 18px;
    }

    .aboutSection {
        background-color: aliceblue;
        /* max-width: 200px; */
        display: flex;

    }

    .substack-button {
        display: inline-block;
        /* Allows the link to have padding and margins, like a button */
        padding: 10px 15px;
        /* Space inside the button */
        background-color: white;
        /* Example background color (Substack orange) */
        color: black;
        /* Text color */
        text-align: center;
        /* Center the text within the button */
        text-decoration: none;
        /* Removes the default underline from the link */
        border-radius: 50px;
        /* Rounds the corners of the button */
        cursor: pointer;
        /* Changes the cursor to a hand icon on hover */

    }

    footer {
        background-color: #CBF6E9;
    }

    .centered {
        text-align: center;
    }

    .intro {
        max-width: 500px;
        text-align: left;
    }